@import url("./variaveis.css");

html {
  scroll-behavior: smooth;
}

#secao-produto-inicio {
    padding-top: 9rem;
}

.secao-produto {
    font-family: var(--fonte-texto);
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    
    
    & p {
        margin-bottom: 0.6rem;
        margin-top: 0.6rem;
    }

    & h3 {
        margin-top: 0.6rem;
    }

    & h2 {
        margin-left: 0.6rem;
    }

    & h2,h3 {
    font-family: var(--fonte-titulo);
    }
}

.menu-navegacao {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
}

.botao-navegacao {
  background-color: var(--cor-principal);
  font-family: var(--fonte-texto);
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--cor-secundaria);
  text-align: center;
  width: auto; 
}


.botao-navegacao:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    transition: all 0.3s ease-in-out;
    
}
header {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    margin-bottom: 2rem;
    position: fixed;
    width: 100%;
    & h1 {
        font-family: var(--fonte-titulo);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 30rem;
    font-family: var(--fonte-texto);
    width: 100%;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);

    & label {
        margin-bottom: 0.3rem;
        margin-top: 0.3rem;
    }
}

.cor-site {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
}

#btnEnviar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    border: none;
}