@import url("./variaveis.css");

html {
  scroll-behavior: smooth;
}

#secao-produto-inicio {
    padding-top: 9rem;
}

.secao-produto {
    font-family: var(--fonte-texto);
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 0.6rem;
    & p {
        margin-bottom: 0.3rem;
        margin-top: 0.6rem;
    }

    & h3 {
        margin-top: 0.6rem;
    }
    & h2,h3 {
    font-family: var(--fonte-titulo);
    }
}

.menu-navegacao {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
}

.botao-navegacao {
  background-color: var(--cor-principal);
  font-family: var(--fonte-texto);
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--cor-secundaria);
  text-align: center;
  width: auto; 
}


.botao-navegacao:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    transition: all 0.3s ease-in-out;
    
}
header {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    margin-bottom: 2rem;
    position: fixed;
    width: 100%;
    & h1 {
        margin-top: 0.8rem;
        font-family: var(--fonte-titulo);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#Contato {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    
}

#logo {
    width: 16%;


}

@media (max-width:500px){
       
    }

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fonte-texto);
    width: 100%;
    

    & input {
        width: 30%;
        border-radius: 0.3rem;
        margin-left: 0.3rem;
        /* margin-top: 0.4rem; */
    }
    & label {
        margin: 0.3rem;
    }

    & p {
        margin: 0.3rem;
    }
}

.cor-site {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
}

#btnEnviar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-radius: 0.3rem;
    border: 2rem solid var(--cor-secundaria);
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    border: none;
    font-family: var(--fonte-texto);
    font-size: 1rem;
    margin: 0.7rem;

    &:hover {
        background-color: var(--cor-secundaria);
        color: var(--cor-principal);
        transition: all 0.5s ease-in-out;
    }
}

#mensagemErro {
    margin-bottom: 0.4rem;
}

.redes-sociais {
    display: block;
}

.menu-responsivo {
    display: none;
}

@media (max-width: 500px) {
  .menu-responsivo {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--cor-secundaria);
    cursor: pointer;
    margin: 0.5rem;
    z-index: 20;
  }

  .menu-navegacao {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 30%;
    background-color: var(--cor-principal);
    padding: 0.5rem;
    z-index: 10;
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .menu-navegacao.show {
    display: flex;
  }
    #logo {
        width: 45%;
    } 
    .formulario {
        & input {
        width: 100%;
    }
}

}

